<?xml version="1.0" encoding="UTF-8"?>
<extension type="module" version="1.6" client="site" method="upgrade" xsi:noNamespaceSchemaLocation="./module.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Note: Site is the default if client is not specified -->
	<name>Site Alpha</name>
	<creationDate>July 2008</creationDate>
	<author>John Doe</author>
	<authorEmail>john.doe@example.org</authorEmail>
	<authorUrl>http://www.example.org</authorUrl>
	<copyright>(C) 2008 Copyright Info</copyright>
	<license>License Info</license>
	<version>1.6.0</version>
	<description>MOD_ALPHA_XML_DESCRIPTION</description>
	<scriptfile>alpha.scriptfile.php</scriptfile>
	<!-- New for 1.6 -->

	<!-- SQL Files -->
	<!-- Note: SQL Support added in 1.6 for modules and plugins -->
	<install>
		<!-- Runs on install -->
		<sql>
			<file driver="mysql" charset="utf8">sql/install.mysql.utf8.sql</file>
		</sql>
	</install>
	<uninstall>
		<!-- Runs on uninstall -->
		<sql>
			<file driver="mysql" charset="utf8">sql/uninstall.mysql.utf8.sql</file>
		</sql>
	</uninstall>
	<update>
		<!-- Runs on update -->
		<schemas>
			<schemapath type="mysql">sql/updates/mysql</schemapath>
		</schemas>
	</update>

	<files>
		<filename module="mod_alpha">mod_alpha.php</filename>
		<filename>any.php</filename>
		<folder>sql</folder>
	</files>

	<media destination="mod_alpha">
		<filename>com_alpha.jpg</filename>
	</media>

	<languages>
		<language tag="en-GB">en-GB.mod_alpha.ini</language>
		<language tag="fr-FR">fr-FR.mod_alpha.ini</language>
	</languages>

	<config>
		<fields name="params">
			<fieldset name="basic">
				<field name="tagsForSelection" type="sql" query="select id,concat(id,'--',name) as name from #__cedtag_term;" key_field="id" value_field="name" label="MOD_CEDCUSTOMTAGSCLOUD_TAGSFORSELECTION_LABEL" description="MOD_CEDCUSTOMTAGSCLOUD_TAGSFORSELECTION_DESC"
					rows="8" cols="40"/>
				<field name="tagIds" type="text" default="" label="MOD_CEDCUSTOMTAGSCLOUD_TAGSFORSELECTION_LABEL" description="MOD_CEDCUSTOMTAGSCLOUD_TAGSFORSELECTION_DESC" size="60"/>
				<field name="sorting" type="list" default="1" label="MOD_CEDCUSTOMTAGSCLOUD_SORTING_LABEL" description="MOD_CEDCUSTOMTAGSCLOUD_SORTING_DESC">
					<option value="tag_latestasort">By Latest created</option>
					<option value="tag_alphasort">MOD_CEDCUSTOMTAGSCLOUD_SORTING_VALUE1</option>
					<option value="sizeasort">MOD_CEDCUSTOMTAGSCLOUD_SORTING_VALUE2</option>
				</field>
				<field name="reverse" type="radio" default="0" label="MOD_CEDCUSTOMTAGSCLOUD_REVERSE_LABEL" description="MOD_CEDCUSTOMTAGSCLOUD_REVERSE_DESC" class=".btn-group">
					<option value="0">JNO</option>
					<option value="1">JYES</option>
				</field>
			</fieldset>
			<fieldset name="advanced">
				<field name="layout" type="modulelayout" label="JFIELD_ALT_LAYOUT_LABEL" description="JFIELD_ALT_MODULE_LAYOUT_DESC"/>
				<field name="moduleclass_sfx" type="text" label="COM_MODULES_FIELD_MODULECLASS_SFX_LABEL" description="COM_MODULES_FIELD_MODULECLASS_SFX_DESC"/>
				<field name="cache" type="list" default="1" label="COM_MODULES_FIELD_CACHING_LABEL" description="COM_MODULES_FIELD_CACHING_DESC">
					<option value="1">JGLOBAL_USE_GLOBAL </option>
					<option value="0">COM_MODULES_FIELD_VALUE_NOCACHING </option>
				</field>
				<field name="cache_time" type="text" default="900" label="COM_MODULES_FIELD_CACHE_TIME_LABEL" description="COM_MODULES_FIELD_CACHE_TIME_DESC"/>
				<field name="cachemode" type="hidden" default="static">
					<option value="static"/>
				</field>
			</fieldset>
		</fields>
	</config>
</extension>
